---
title: Team History
description: See the past achievements of UMA!
image: /images/old.jpg
---


<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
  <div class="inner-hero text-container">
    <div class="hero-text-container">
      <h1 class="editable">Our History</h1>
      <p class="subtext editable">
        See UMA's past achievements and accomplishments!
      </p>
    </div>
  </div>
  <div class="learn-more">
    <a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a>
  </div>
</section>


<div class="content container" id="learn-more" style="font-size: 12pt; padding: 0 8%;">
  {% for boat in site.boats %}
    <section class="info" id="{{boat.name}}">
      <div class="row" >
        <div class="image col-12 col-lg-5" data-aos="fade-right">
          <img class="editable" style="width: 100%" src={{boat.image_path}} alt={{boat.name}} />
        </div>
        <div class="container col-12 col-lg-7">
          <div class="text">
            <h3 class="editable">{{boat.year}}: {{boat.name}}</h3>
            <h5>{{boat.subtitle}}</h5>
            <p class="editable">
              {{boat.description1}}
            </p>
            <p>{{boat.description2}}</p>
            <p>{{boat.description3}}</p>
          </div>
          <div>
            {% if boat.page %}
            <div class="button" style="margin-bottom: 1rem">
              {% capture boat_url %}/history/{{ boat.year }}{% endcapture %}
              <a href="{% include relative-src.html src=boat_url %}">Learn More</a>
            </div>
            {% endif %}
            {% if boat.tdr_path %}
            <div class="button" style="margin-bottom: 1rem">
              <a href={{boat.tdr_path}} target="_blank">Technical Design Report</a>
            </div>
            {% endif %}
            {% if boat.video_path %}
            <div class="button">
              <a href={{boat.video_path}} target="_blank">Video</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <hr />
    </section>
 {% endfor %}
</div>
