---
title: Projects
description: See what our teams have been up to!
image: /images/computer.JPG
---

<head>
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />
</head>

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
  <div class="inner-hero text-container">
    <div class="hero-text-container">
      <h1 class="editable">
        Projects
      </h1>
      <p class="subtext editable">
        See what our teams have been up to!
      </p>
    </div>
  </div>
  <div class="learn-more">
    <a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a>
  </div>
</section>
<br />

<div class="content">
  <section class="info" id="learn-more">
    <div class="projects-container">
      <div class="container">
        <h2 class="project-heading">Artificial Intelligence</h2>
        <p class="project-subteam">
          Building off of a Robot Operating System architecture,
          AI tasks range from integrating COTS peripherals, to object detection,
          navigation, top-level task reasoning, and simulating the boat’s
          performance in a virtual competition course. <br />
          Tech stack: Docker-based environment, Git for version-control, ROS Noetic (with an upgrade planned) for the
          architecture, and C++ &amp; Python for the majority of the source code.
        </p>
        {% for project in site.projects %}
        {% if project.category == 'ai' %}
        <div class="container flex">
          <div class="text">
            <h3 class="editable">
              {{project.title}}
            </h3>
            <p class="editable project-text">
              {{project.description}}
            </p>
            {% if project.members %}
            <p class="project-text">
              Members: {{project.members}}
            </p>
            {% endif %}
          </div>
          {% if project.image %}
          <div class="image" data-aos="zoom-out-right">
            <img class="editable" src={{project.image}} alt={{project.title}} />
          </div>
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
      </div>

      <div class="container">
        <h2 class="project-heading">Electrical</h2>
        <p class="project-subteam">
          The Electrical Team is responsible for the allocation of power to the
          boat and management of cables and wires from the battery to the computer, sensors, and motors.
        </p>
        {% for project in site.projects %}
        {% if project.category == 'electrical' %}
        <div class="container flex">
          <div class="text">
            <h3 class="editable">
              {{project.title}}
            </h3>
            <p class="editable project-text">
              {{project.description}}
            </p>
            {% if project.members %}
            <p class="project-text">
              Members: {{project.members}}
            </p>
            {% endif %}
          </div>
          {% if project.image %}
          <div class="image" data-aos="zoom-out-right">
            <img class="editable" src={{project.image}} alt={{project.title}} />
          </div>
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
      </div>


      <div class="container project-margin">
        <h2 class="project-heading">Hulls & Systems</h2>
        <p class="project-subteam">
          H&S Team works on the design and construction of the team’s boat. This includes
          designing around the boat’s electrical system, accompanying drone, and sensor specifications required by the
          boat’s autonomous systems.
        </p>
        {% for project in site.projects %}
        {% if project.category == 'hulls' %}
        <div class="container flex">
          <div class="text">
            <h3 class="editable">
              {{project.title}}
            </h3>
            <p class="editable project-text">
              {{project.description}}
            </p>
            {% if project.members %}
            <p class="project-text">
              Members: {{project.members}}
            </p>
            {% endif %}
          </div>
          {% if project.image %}
          <div class="image" data-aos="zoom-out-right">
            <img class="editable" src={{project.image}} alt={{project.title}} />
          </div>
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
      </div>


      <div class="container project-margin">
        <h2 class="project-heading">Advanced Capabilities Team</h2>
        <p class="project-subteam">
          The Advanced Capabilities Team creates systems for competition elements that involve more than the base boat.
          Currently, we're tasked with creating a controllable water cannon and a mechanism that efficiently retrieves
          balls and places them into a storage bin. This involves using Computer-Aided Design (CAD) to physically build
          these systems, followed by designing the electrical circuits and sensors these components will use to function
          optimally. Finally, we'll create a communication platform to control these new features effectively.
        </p>
        {% for project in site.projects %}
        {% if project.category == 'act' %}
        <div class="container flex">
          <div class="text">
            <h3 class="editable">
              {{project.title}}
            </h3>
            <p class="editable project-text">
              {{ project.content | markdownify }}
            </p>
            {% if project.members %}
            <p class="project-text">
              Members: {{project.members}}
            </p>
            {% endif %}
          </div>
          {% if project.image %}
          <div class="image" data-aos="zoom-out-right">
            <img class="editable" src={{project.image}} alt={{project.title}} />
          </div>
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
      </div>

      <div class="container project-margin">
        <h2 class="project-heading">Business</h2>
        <p class="project-subteam">
          The Business Team secures funding for the team, processes reimbursement requests, maintains sponsor
          relationships
          and is responsible for social media engagement.
          The subteam also creates and maintains the team website.
        </p>
        {% for project in site.projects %}
        {% if project.category == 'business' %}
        <div class="container flex">
          <div class="text">
            <h3 class="editable">
              {{project.title}}
            </h3>
            <p class="editable project-text">
              {{project.description}}
            </p>
            {% if project.members %}
            <p class="project-text">
              Members: {{project.members}}
            </p>
            {% endif %}
          </div>
          {% if project.image %}
          <div class="image" data-aos="zoom-out-right">
            <img class="editable" src={{project.image}} alt={{project.title}} />
          </div>
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <br />
      <br />
      <br />

    </div>
  </section>
</div>