---
title: Roboboat 2023
description: Competition strategy and team progress
image: /images/roboboat22/main.jpg
---

<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:200&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
</head>

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %}); max-width: 100vw">
  <div class="inner-hero text-container">
    <div class="hero-text-container">
      <h1 class="editable">
        Roboboat 2023
      </h1>
      <p class="subtext editable">
        Competition strategy and team progress
      </p>
    </div>
  </div>
  <div class="learn-more">
    <a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a>
  </div>
</section>

<div class="content container" style="font-size: 12pt; padding: 0 8%;">
  <section class="info" id="learn-more">
    <div class="competition-strategy">
      <h2>Competition Strategy</h2>
      <div class="my-4">
        <h3>Team Focus</h3>
        <p>
          For this competition season, our team decided to design a new carbon fiber hull. This would give new team 
          members the opportunities to help design the boat as well as work with new materials like carbon fiber. 
          Experienced members would guide the newer members but would still incorporate new and fresh ideas allowing 
          for greater in-person/team bonding opportunities that were absent from the last few years due to covid.
        </p>
      </div>
      <div class="my-4">
        <h3>Thrust-to-Weight Ratio</h3>
        <p>
          The usage of carbon fiber hulls instead of foam hulls means that the boat is much lighter. 
          To account for the reduced weight, less thrusters are needed, which is why we decided on using a 
          four-thruster setup.
        </p>
      </div>
      <div class="my-4">
        <h3>Prioritization of Challenges</h3>
        <div>
          <h4>High Priority Challenges</h4>
            {% for data in site.roboboat22 %}
              {% if data.category == 'challenges' and data.priority == 'high'%}
                  <div class="row">
                    <div class="image col-12 col-md-4 d-flex justify-content-center align-items-center" data-aos="zoom-out-right">
                      <img style="width:80%" src={{data.image}} alt={{data.title}} />
                    </div>
                    <div class="col-12 col-md-8">
                      <h5>{{data.title}}</h5>
                      <p>
                        Description: {{data.description}}
                      </p>
                      <p>
                        Analysis: {{data.analysis}}
                      </p>
                      <p>
                        Goal: {{data.goal}}
                      </p>
                    </div>
                  </div>
                  <hr/>
              {% endif %}
            {% endfor %}
        </div>
        <div>
          <h4>Medium Priority Challenges</h4>
            {% for data in site.roboboat22 %}
              {% if data.category == 'challenges' and data.priority == 'medium'%}
                  <div class="row">
                    <div class="image col-12 col-md-4 d-flex justify-content-center align-items-center" data-aos="zoom-out-right">
                      <img style="width:80%" src={{data.image}} alt={{data.title}} />
                    </div>
                    <div class="col-12 col-md-8">
                      <h5>{{data.title}}</h5>
                      <p>
                        Description: {{data.description}}
                      </p>
                      <p>
                        Analysis: {{data.analysis}}
                      </p>
                      <p>
                        Goal: {{data.goal}}
                      </p>
                    </div>
                  </div>
                  <hr/>
              {% endif %}
            {% endfor %}
        </div>
        <div>
          <h4>Low Priority Challenges</h4>
            {% for data in site.roboboat22 %}
              {% if data.category == 'challenges' and data.priority == 'low'%}
                  <div class="row">
                    <div class="image col-12 col-md-4 d-flex justify-content-center align-items-center" data-aos="zoom-out-right">
                      <img style="width:80%" src={{data.image}} alt={{data.title}} />
                    </div>
                    <div class="col-12 col-md-8">
                      <h5>{{data.title}}</h5>
                      <p>
                        Description: {{data.description}}
                      </p>
                      <p>
                        Analysis: {{data.analysis}}
                      </p>
                      <p>
                        Goal: {{data.goal}}
                      </p>
                    </div>
                  </div>
                  <hr/>
              {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>
  </section>
</div>

<div class="content container" style="font-size: 12pt; padding: 0 8%;">
  <section class="info" id="learn-more">
    <div class="process">
      <h1>Process</h1>
      <h3>Preparation of Hulls</h3>
      {% for step in site.process %}
        {% if step.category == 'Hulls' %}
        <div class="col-12 col-md-8">
          <h5>{{step.title}}</h5>
          <p>
            Description: {{step.steps}}
          </p>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>
</div>
