---
title: Roboboat 2022
description: Competition strategy and team progress
image: /images/roboboat22/main.jpg
---

<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:200&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
</head>

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %}); max-width: 100vw">
  <div class="inner-hero text-container">
    <div class="hero-text-container">
      <h1 class="editable">
        Roboboat 2022
      </h1>
      <p class="subtext editable">
        Competition strategy and team progress
      </p>
    </div>
  </div>
  <div class="learn-more">
    <a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a>
  </div>
</section>
<br />

<div class="content">
  <section class="info" id="learn-more">
    <div>
      <div class="container">
        <h2>Competition Strategy</h2>
        <div>
          <h3>Team Focus</h3>
          <p>
            For this competition season, our team decided to reuse the Flying Sloth hull from our 2017 competition.
            This allowed for greater focus on testing and on learning skills that the team lost due to the graduation
            of more experienced members and the lack of in-person opportunities the last 2 years due to covid.
          </p>
        </div>
        <div>
          <h3>Thrust-to-Weight Ratio</h3>
          <p>
            The usage of foam hulls instead of carbon fiber hulls means that the boat is heavier. 
            To account for this, more thrusters are used, and we decided on using a six-thruster setup.
          </p>
        </div>
        <div>
          <h3>Prioritization of Challenges</h3>
          <div>
              {% for boat in site.roboboat22 %}
              <h5>{{boat.title}}</h5>
              {% endfor %}
              {% for data in site.roboboat22 %}
                <h5>{{data.title}}</h5>
                {% if data.category == 'challenges' %}
                  <h4>High Priority Challenges</h4>
                  {% if data.priority == 'high' %}
                    <div>
                      <div class="image" data-aos="zoom-out-right">
                        <img src={{data.image}} alt={{data.title}} />
                      </div>
                      <h5>{{data.title}}</h5>
                      <p>
                        Description: {{data.description}}
                      </p>
                      <p>
                        Analysis: {{data.analysis}}
                      </p>
                      <p>
                        Goal: {{data.goal}}
                      </p>
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>