---
title: Sponsors
description: The great companies that sponsor UMA.
image: /images/offshorebackground.jpg
---

<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:200&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
</head>

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">
				Sponsors
			</h1>
			<p class="subtext editable">
				Thank you to our wonderful sponsors for your contributions to UMA!
			</p>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content" style="font-size: 12pt;">

	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h1 class="editable" style="text-align: center;">
					Platinum
				</h1>
			</div>
	</section>

	{% for sponsor in site.sponsors %}
	{% if sponsor.level == "Platinum" %}
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h3 class="editable">
					{{ sponsor.title }}
				</h3>
				<p class="editable" style="font-family: 'Open Sans', sans-serif;">
					{{ sponsor.description }}
				</p>
			</div>
			<div class="image">
				<img class="editable" src={{sponsor.image_path}} alt="Screenshot" />
			</div>
		</div>
	</section>
	{% endif %}
	{% endfor %}


	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h1 class="editable" style="text-align: center;	">
					Gold
				</h1>
			</div>
	</section>

	{% for sponsor in site.sponsors %}
	{% if sponsor.level == "Gold" %}
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h3 class="editable">
					{{ sponsor.title }}
				</h3>
				<p class="editable">
					{{ sponsor.description }}
				</p>
			</div>
			<div class="image">
				<img class="editable" src={{sponsor.image_path}} alt="Screenshot" />
			</div>
		</div>
	</section>
	{% endif %}
	{% endfor %}

	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h1 class="editable" style="text-align: center;">
					Silver
				</h1>
			</div>
	</section>

	{% for sponsor in site.sponsors %}
	{% if sponsor.level == "Silver" %}
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h3 class="editable">
					{{ sponsor.title }}
				</h3>
				<p class="editable">
					{{ sponsor.description }}
				</p>
			</div>
			<div class="image">
				<img class="editable" src={{sponsor.image_path}} alt="Screenshot" />
			</div>
		</div>
	</section>
	{% endif %}
	{% endfor %}

	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h1 class="editable" style="text-align: center;">
					Bronze
				</h1>
			</div>
	</section>

	{% for sponsor in site.sponsors %}
	{% if sponsor.level == "Bronze" %}
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h3 class="editable">
					{{ sponsor.title }}
				</h3>
				<p class="editable">
					{{ sponsor.description }}
				</p>
			</div>
			<div class="image">
				<img class="editable" src={{sponsor.image_path}} alt="Screenshot" />
			</div>
		</div>
	</section>
	{% endif %}
	{% endfor %}

</div>
