---
title: About
description: Get to know the UMA team members!
image: /images/team_photo.png
---

<head>
	<link
    href="https://fonts.googleapis.com/css?family=Open+Sans:200&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Lato&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap"
    rel="stylesheet"
  />
</head>

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">The Team</h1>
			<p class="subtext editable">Get to know our talented members.</p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<h2 class="editable">Leadership</h1>
	</div>

	<div class="container">
		<ul class="staff" id="leadership">
			{% for person in site.team_members %}
				{% if person.category == "leadership" %}
				<li>
					<a href="{{ person.contact }}" target="_blank">
					<div 
					{% if person.rotate %}
					class="rotate-image square-image"
					{% endif %}
					class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					</a>
					<div class="name">{{ person.name }}</div>
					<div class="position">{{ person.position }}</div>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

<section class="pad">
	<div class="container">
		<h2 class="editable">Artificial Intelligence</h1>
	</div>
	<div class="container">
		<ul class="staff" id="ai">
			{% for person in site.team_members %}
				{% if person.category == "ai" %}
				<li>
					<a href="{{ person.contact }}" target="_blank">
					<div 
					{% if person.rotate %}
					class="rotate-image square-image"
					{% endif %}
					class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					</a>
					<div class="name">{{ person.name }}</div>
					<div class="position">{{ person.position }}</div>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

<section class="pad">
	<div class="container">
		<h2 class="editable">Business</h1>
	</div>
	<div class="container">
		<ul class="staff" id="business">
			{% for person in site.team_members %}
				{% if person.category == "business" %}
				<li>
					<a href="{{ person.contact }}" target="_blank">
					<div 
					{% if person.rotate %}
					class="rotate-image square-image"
					{% endif %}
					class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					</a>
					<div class="name">{{ person.name }}</div>
					<div class="position">{{ person.position }}</div>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

<section class="pad">
	<div class="container">
		<h2 class="editable">Electrical</h1>
	</div>
	<div class="container">
		<ul class="staff" id="electrical">
			{% for person in site.team_members %}
				{% if person.category == "electrical" %}
				<li>
					<a href="{{ person.contact }}" target="_blank">
					<div 
					{% if person.rotate %}
					class="rotate-image square-image"
					{% endif %}
					class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					</a>
					<div class="name">{{ person.name }}</div>
					<div class="position">{{ person.position }}</div>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

<section class="pad">
	<div class="container">
		<h2 class="editable">Hulls and Systems</h1>
	</div>
	<div class="container">
		<ul class="staff" id="hulls-and-systems">
			{% for person in site.team_members %}
				{% if person.category == "hulls-and-systems" %}
				<li>
					<a href="{{ person.contact }}" target="_blank">
					<div
					class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					</a>
					<div class="name">{{ person.name }}</div>
					<div class="position">{{ person.position }}</div>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>
