---
title: About
description: We've built an amazing team of developers, marketers, designers and sales people.
image: /images/teampic.jpg
---

<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap" rel="stylesheet">
</head>

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable" style="font-family: 'Open Sans', sans-serif">The Team</h1>
			<p class="subtext editable">Get to know our extremely talented members.</p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<h2 class="editable">Leadership</h1>
	</div>
	<div class="container">
		<p class="editor-link"><a href="/images/headshots/" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff" id="leadership">
			{% for person in site.staff_members %}
				{% if person.category == "leadership" %}
				<li>
					<div 
					{% if person.rotate %}
					class="rotate-image square-image"
					{% endif %}
					class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name">{{ person.name }}</div>
					<div class="position">{{ person.position }}</div>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

<section class="pad">
	<div class="container">
		<h2 class="editable">Artificial Intelligence</h1>
	</div>
	<div class="container">
		<p class="editor-link"><a href="/images/headshots/" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff" id="ai">
			{% for person in site.staff_members %}
				{% if person.category == "ai" %}
				<li>
					<div 
					{% if person.rotate %}
					class="rotate-image square-image"
					{% endif %}
					class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name">{{ person.name }}</div>
					<div class="position">{{ person.position }}</div>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

<section class="pad">
	<div class="container">
		<h2 class="editable">Business</h1>
	</div>
	<div class="container">
		<p class="editor-link"><a href="/images/headshots/" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff" id="business">
			{% for person in site.staff_members %}
				{% if person.category == "business" %}
				<li>
					<div 
					{% if person.rotate %}
					class="rotate-image square-image"
					{% endif %}
					class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name">{{ person.name }}</div>
					<div class="position">{{ person.position }}</div>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

<section class="pad">
	<div class="container">
		<h2 class="editable">Electrical</h1>
	</div>
	<div class="container">
		<p class="editor-link"><a href="/images/headshots/" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff" id="electrical">
			{% for person in site.staff_members %}
				{% if person.category == "electrical" %}
				<li>
					<div 
					{% if person.rotate %}
					class="rotate-image square-image"
					{% endif %}
					class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name">{{ person.name }}</div>
					<div class="position">{{ person.position }}</div>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

<section class="pad">
	<div class="container">
		<h2 class="editable">Hulls and Systems</h1>
	</div>
	<div class="container">
		<p class="editor-link"><a href="/images/headshots/" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff" id="hulls-and-systems">
			{% for person in site.staff_members %}
				{% if person.category == "hulls-and-systems" %}
				<li>
					<div
					class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name">{{ person.name }}</div>
					<div class="position">{{ person.position }}</div>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>
