---
title: The Team
description: Get to know the UMA team members!
image: /images/team_photo2023.webp
---


<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">The Team</h1>
			<p class="subtext editable">Get to know our talented members from 2022-23!</p>
		</div>
	</div>
</section>

{% for team in site.teams %}
<section class="pad flex items-start px-16 {% if forloop.index == 2 or forloop.index == 4 or forloop.index == 6 %} bg-blue text-maize{% else %} text-blue{% endif %}">
	<div class="sticky w-[35%] top-[75px] flex-shrink-0 teams-content">
		{{team.content}}
	</div>
	<div class="container ml-0">
		<ul class="staff">
			{% for person in site.team_members %}
			{% if person.roles[2024][team.name] %}
			
			<li>
				<div {% if person.rotate %} class="rotate-image square-image" {% endif %}
						class="square-image team-image"
						style="background-image: url({% include relative-src.html src=person.image_path %})">
				</div>
				<div class="name">{{ person.name }}</div>
				<div class="position">{{ person.roles[2024][team.name] }}</div>
				<div class="link">
					<a href="{{ person.contact }}" target="_blank">
						{{ person.contact_type }}
					</a>
				</div>
				<div class="g_year">Graduating {{ person.g_year }} </div>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>
{% endfor %}


<style type="text/tailwindcss">
	.teams-content h2 {
		@apply text-5xl font-black uppercase text-right mb-4;
		font-family: "Inter", "Open Sans", "Lato", sans-serif;
	}
	.teams-content h3 {
		@apply text-2xl font-semibold mt-3 mb-1;
		font-family: "Inter", "Open Sans", "Lato", sans-serif;
	}
	.teams-content p {
		@apply mb-3;
	}
</style>