---
title: The Team
description: Get to know the UMA team members!
image: /images/team_photo2023.webp
---

<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:200&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
</head>

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">The Team</h1>
			<p class="subtext editable">Get to know our talented members from 2022-23!</p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<h2 class="editable">Leadership</h1>
	</div>

	<div class="container">
		<ul class="staff" id="leadership">
			{% for person in site.team_members %}
			{% if person.roles[2024].leadership %}
			<li>
				<div {% if person.rotate %} class="rotate-image square-image" {% endif %}
						class="square-image team-image"
						style="background-image: url({% include relative-src.html src=person.image_path %})">
					</div>
				<div class="name">{{ person.name }}</div>
				<div class="position">{{ person.roles[2024].leadership }}</div>
				<div class="link">
					<a href="{{ person.contact }}" target="_blank">
						{{ person.contact_type }}
					</a>
				</div>
				<div class="g_year">Graduating {{ person.g_year }} </div>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

<section class="pad">
	<div class="container">
		<h2 class="editable">Artificial Intelligence</h1>
	</div>
	<div class="container">
		<ul class="staff" id="ai">
			{% for person in site.team_members %}
			{% if person.roles[2024].ai %}
			
			<li>
				<div {% if person.rotate %} class="rotate-image square-image" {% endif %}
						class="square-image team-image"
						style="background-image: url({% include relative-src.html src=person.image_path %})">
				</div>
				<div class="name">{{ person.name }}</div>
				<div class="position">{{ person.roles[2024].ai }}</div>
				<div class="link">
					<a href="{{ person.contact }}" target="_blank">
						{{ person.contact_type }}
					</a>
				</div>
				<div class="g_year">Graduating {{ person.g_year }} </div>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

<section class="pad">
	<div class="container">
		<h2 class="editable">Advanced Capabilities</h1>
	</div>
	<div class="container">
		<ul class="staff" id="ai">
			{% for person in site.team_members %}
			{% if person.roles[2024].act %}
			
			<li>
				<div {% if person.rotate %} class="rotate-image square-image" {% endif %}
						class="square-image team-image"
						style="background-image: url({% include relative-src.html src=person.image_path %})">
				</div>
				<div class="name">{{ person.name }}</div>
				<div class="position">{{ person.roles[2024].act }}</div>
				<div class="link">
					<a href="{{ person.contact }}" target="_blank">
						{{ person.contact_type }}
					</a>
				</div>
				<div class="g_year">Graduating {{ person.g_year }} </div>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

<section class="pad">
	<div class="container">
		<h2 class="editable">Business</h1>
	</div>
	<div class="container">
		<ul class="staff" id="business">
			{% for person in site.team_members %}
			{% if person.roles[2024].business %}
			<li>
				<div {% if person.rotate %} class="rotate-image square-image" {% endif %}
						class="square-image team-image"
						style="background-image: url({% include relative-src.html src=person.image_path %})">
				</div>
				<div class="name">{{ person.name }}</div>
				<div class="position">{{ person.roles[2024].business }}</div>
				<div class="link">
					<a href="{{ person.contact }}" target="_blank">
						{{ person.contact_type }}
					</a>
				</div>
				<div class="g_year">Graduating {{ person.g_year }} </div>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

<section class="pad">
	<div class="container">
		<h2 class="editable">Electrical</h1>
	</div>
	<div class="container">
		<ul class="staff" id="electrical">
			{% for person in site.team_members %}
			{% if person.roles[2024].electrical %}
			<li>
				<div {% if person.rotate %} class="rotate-image square-image" {% endif %}
						class="square-image team-image"
						style="background-image: url({% include relative-src.html src=person.image_path %})">
				</div>
				<div class="name">{{ person.name }}</div>
				<div class="position">{{ person.roles[2024].electrical }}</div>
				<div class="link">
					<a href="{{ person.contact }}" target="_blank">
						{{ person.contact_type }}
					</a>
				</div>
				<div class="g_year">Graduating {{ person.g_year }} </div>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

<section class="pad">
	<div class="container">
		<h2 class="editable">Mechanical</h1>
	</div>
	<div class="container">
		<ul class="staff" id="hulls-and-systems">
			{% for person in site.team_members %}
			{% if person.roles[2024]["hulls-and-systems"] %}
			<li>
				<div {% if person.rotate %} class="rotate-image square-image" {% endif %}
						class="square-image team-image"
						style="background-image: url({% include relative-src.html src=person.image_path %})">
				</div>
				<div class="name">{{ person.name }}</div>
				<div class="position">{{ person.roles[2024]["hulls-and-systems"] }}</div>
				<div class="link">
					<a href="{{ person.contact }}" target="_blank">
						{{ person.contact_type }}
					</a>
				</div>
				<div class="g_year">Graduating {{ person.g_year }} </div>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>
