{% for post in include.posts %}
<li class="blog-post">
    <h2><a href="{% include relative-src.html src=post.url %}">{{ post.title }}</a></h2>
    {% include post-title.html post=post %}
    <div class="post-content">
        <!-- {{ post.excerpt }} -->
        {% if post.cover_img %}
        <img src={{post.cover_img}} alt="{{post.cover_img_alt}}" />
        {% endif %}
        <div class="button"><a href="{% include relative-src.html src=post.url %}">Read More</a></div>
    </div>
</li>
{% endfor %}
