<p>
  <a
    class="button btn btn-primary w-full"
    href="https://forms.gle/8H5JhyLo1V3MgXP37"
    target="_blank"
    rel="noopener"
  >
    Join Our Mailing List to Learn More
  </a>
</p>

<h3>Join a mass meeting!</h3>
<p>
  Join our mailing list and meet us <b>Tuesday, September 3rd at 6PM</b> for our mass meeting in BBB 1670!
  That's the
  <a href="https://maps.app.goo.gl/tqrRvB83GvfWPtGr7" target="_blank" rel="noopener"
    >Bob and Betty Byster Building on North Campus</a
  >, in the large lecture hall off the main atrium. We'll be around to let you
  in the building and guide you to the room.
</p>
<p>
  Our second mass meeting is <b>Wednesday, September 4th at 6PM</b> in CCCB 3460.
  After entering <a href="https://maps.app.goo.gl/eWVLRxXPaTwcpAWu5" target="_blank" rel="noopener"
    >Central Campus Classroom Building</a
  >, head straight up the main staircase.
</p>

<h3>Can't make it?</h3>
<p>
  Join our mailing list and we'll let you know when our next meeting is! We'll
  also offer one-on-one meetings with teams you're interested in.
</p>
