<p>
  <a
    class="button btn btn-primary w-full"
    href="https://forms.gle/8H5JhyLo1V3MgXP37"
    target="_blank"
    rel="noopener"
  >
    Join Our Mailing List to Learn More
  </a>
</p>

<!-- <h3>Join a mass meeting!</h3>
<p>
  Join our mailing list and meet us <b>Wednesday, September 3rd at 6PM</b> for our mass meeting in MH 2306!
  That's <a href="https://maps.app.goo.gl/Eg7DQu7L1bFbWwU6A" target="_blank" rel="noopener"
    >Mason Hall on Central Campus.</a
  >
</p>
<p>
  Our second mass meeting is <b>Thursday, September 4th at 6</b> at DOW 1013.
  That's the
  <a href="https://maps.app.goo.gl/3oCAiSoxejWWq3sB9" target="_blank" rel="noopener"
    >bottom floor of the DOW Building on North Campus</a
  >. We'll be around to let you
  in the building and guide you to the room.
</p> -->

<p>More specific information in the instagram account above!</p>

<p>
  Join the mailing list 
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSfuU5BapPLEsVHn1OWlRyH_P2tgxe7mAFGiLUvigKlVUWAdHQ/viewform?fbclid=PAQ0xDSwMa8GtleHRuA2FlbQIxMQABp0Z8NKGqBuXYDJnFGxbGDrTRjr526dY66dQJeuKtXgnowCf1PgYCOBEhqwRd_aem_75s8ZRCQh2RUNGL8ZrQNLA" target="_blank">here!</a>
   and we'll let you know when our next meeting is! We'll
  also offer one-on-one meetings with teams you're interested in.
</p>
