<p>
  <a
    class="button btn btn-primary w-full"
    href="https://forms.gle/8H5JhyLo1V3MgXP37"
    target="_blank"
    rel="noopener"
  >
    Join Our Mailing List to Learn More
  </a>
</p>

<h3>Join a mass meeting!</h3>
<p>
  Join our mailing list and meet us <b>Tuesday, September 2nd from 5-6PM</b> for our mass meeting in EECS 1500!
  That's the
  <a href="https://maps.app.goo.gl/EPZDzaQAziAKb5J47" target="_blank" rel="noopener"
    >Electrical Engineering and Computer Science Building on North Campus</a
  >. We'll be around to let you
  in the building and guide you to the room.
</p>
<p>
  Our second mass meeting is <b>Wednesday, September 3rd from 7-8PM</b> on Central Campus (location TBD).
</p>

<p>More specific information in the instagram account above!</p>

<p>
  Join our mailing list and we'll let you know when our next meeting is! We'll
  also offer one-on-one meetings with teams you're interested in.
</p>
