@media #{$desktop} {
  .project-heading {
    padding: 0px 100px;
    // padding-top: 50px;
  }

  .project-subteam {
    padding: 0px 100px;
  }
}

@media #{$desktop} {
  .team-image:hover {
    transform: scale(1.1);
    transition-duration: 300ms;
  }
}

.spec-boat-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spec-boat-img img {
  width: 100%;
}

@media #{$mid-point} {
  .spec-boat-img img {
    width: 80%;
  }
}

#search-container {
  /* Don't show search box in mobile/tablet view */
  display: none;
  
  @media #{$desktop} {
    position: fixed;
    display: block;
    z-index: 10000;
    right: 0;
    padding: 10px;
  }

  #search-input {
    height: 40px;
  }

  li {
    list-style-type: none;
  }

  #results-container {
    padding-left: 5%;
    background: white;
  }
}