@media #{$desktop} {
  .project-heading {
    padding: 0px 100px;
    // padding-top: 50px;
  }

  .project-subteam {
    padding: 0px 100px;
  }
}

@media #{$desktop} {
  .team-image:hover {
    transform: scale(1.1);
    transition-duration: 300ms;
  }
}

.spec-boat-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spec-boat-img img {
  width: 100%;
}

@media #{$mid-point} {
  .spec-boat-img img {
    width: 80%;
  }
}

#search-container {
  /* Don't show search box in mobile/tablet view */
  display: none;

  position: fixed;
  max-width: 20%;
  min-width: 20%;
  z-index: 10000;
  right: 0;
  padding: 10px;

  @media #{$desktop} {
    display: block;
    width: 20%;
    z-index: 10000;
    right: 0;
    padding: 10px;
    margin-top: -5px !important;
  }

  #search-input {
    height: 40px;
  }

  li {
    list-style-type: none;
    padding-bottom: 0.3em;
  }

  a {
    color: #333;
    padding: 0 !important;
    margin: 0 !important;
  }

  #results-container {
    padding-left: 5%;
    max-width: 100%;
    background: white;
  }
}

.inter {
  font-family: "Inter", "Open Sans", "Lato", sans-serif;
}

.boat-description {
  color: white;
  background-color: #00274c77;
  backdrop-filter: blur(5px);
  max-width: 30em;
  margin-top: -100vh;
  padding-top: 60px;
  .row {
    padding-bottom: 5em;
    text-align: justify;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: 0;
    margin-right: 0;
    h3 {
      font-family: "Inter", "Open Sans", "Lato", sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      text-wrap: balance;
      font-size: 3rem;
      text-align: left;
      line-height: 1;
      margin-bottom: 1rem;
    }
    &:last-child {
      padding-bottom: 50vh;
    }
    &:first-child {
      min-height: 50vh;
    }
  }

  @media (max-width: 1000px) {
    width: 100%;
    max-width: none;
    background: none;
    -webkit-backdrop-filter: unset;
    backdrop-filter: unset;
    padding-top: 0;
    padding-bottom: 100vh;
    .row {
      padding-top: 5vh;
      padding-bottom: 5vh;
      background-color: #00274c77;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      margin-bottom: 75vh;
      &:last-child {
        padding-bottom: 5vh;
      }
    }
  }
}
.boat-description-outer {
  background: #00274c;
  canvas {
    margin-top: 60px;
    height: calc(100% - 60px);
  }
  &.loaded {
    .row {
      opacity: 0.7;
    }
    .row.active {
      opacity: 1;
    }
  }
}
