.staff {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-flow: wrap;
	text-align: center;
	justify-content: center;
	font-weight: 400;
	li {
		padding: 30px 20px;
		box-sizing: border-box;
		width: 100%;

		@media #{$tablet} {
			flex-basis: 50%;
		}

		@media #{$desktop} {
			flex-basis: 33%;
		}

		@media (min-width: 1920px) {
			flex-basis: 25%;
		}
		a {
			text-decoration: underline;
			&[href]:not([href=""])::after {
			  content: " 🡭";
			}
		}
	}

	.name {
		margin-top: 20px;
	}

	.position {
		opacity: .8;
		font-size: .8em;
	}

	.position-highlight {
		background-color: #ffcb05;
		color: black;
		font-weight: normal;
		font-size: .8em;
	}
}
