---
title: RoboBoat 2024
description: Competition strategy and team progress
image: /images/roboboat/main.jpg
---

<script src="{% include relative-src.html src='/js/3d/benderson3d.iife.js' %}" async data-container="#container"
  data-canvas="#renderCanvas" data-resources="{% include relative-src.html src='/js/3d/' %}" data-fps="#fps"
  data-model="{% include relative-src.html src='/js/3d/2024.glb' %}"
  data-environment="{% include relative-src.html src='/js/3d/environment.env' %}"></script>
<link href="{% include relative-src.html src='/css/roboboat.css' %}" rel="stylesheet" />
<!-- <link href="{% include relative-src.html src='/js/3d/2024.glb' %}" rel="preload" as="fetch" crossorigin /> -->
<!-- <link href="{% include relative-src.html src='/js/3d/meshopt_decoder.js' %}" rel="preload" as="script" /> -->

<div class="header-padding"></div>

<div class="outer" id="container">
  <section class="row" data-location="266, 3, -510" data-radius="200" data-alpha="-1.15" data-beta="0.966"
    data-speed="0.3">
    <div class="park-info">
      <div id="allteams" class="escape-margin img-blur">
        <img width="4756" height="1263" src="{% include relative-src.html src='/images/roboboat/2023/allteams.webp' %}">
      </div>
      <small>Photo from <a href="{% include relative-src.html src='/roboboat/2023/' %}">RoboBoat 2023: Ocean
          Exploration</a></small>

      <h2>RoboBoat 2024: Ducks Overboard</h2>
      <h3>Nathan Benderson Park</h3>
      <p>Sarasota, Florida</p>
      <p>
        <a href="https://robonation.org/programs/roboboat/" target="_blank">RoboNation RoboBoat</a> is an international
        competition
        where students design, build, and compete with
        self-driving robotic boats, in a series of tests aimed at challenging teams through a
        variety autonomous (self-driving) tasks. We will be joined by 18 teams from 3 continents.
      </p>
    </div>
    <h3 id="competition-strategy">Competition Strategy</h3>
    <div class="my-4">
      <p>
        Due to the short build cycle this year—just 5 months from competition details to competition—we decided to reuse
        our <a href="{% include relative-src.html src='/history/2024/' %}">2023 hull, <i>The Phoenix</i>, albeit with
          major structural improvements</a>. We focused on simplicity in design
        and workflow in order to further ensure a reliable, maintainable, and modular system. Understanding the tighter
        time constraints of this season, we put a greater emphasis was placed on design validation and in-water
        testing, which was facilitated by maintaining an operable vessel and reducing design complexity from last year.
        We moved to testing strategy that relocated the team permanently into its testing environment, made testing a
        weekly process from the start of the season, and allowed for multiple modes of testing to guarantee success.
      </p>
    </div>
    <p class="center-text only-tall-screens" style="margin-top: 5vh;">Scroll down for more details &downarrow;</p>
  </section>
  <div class="can">
    <div class="render">
      <canvas id="renderCanvas" aria-hidden="true" />
      <!-- <div id="fps" bind:this={fps}>0</div> -->
    </div>
    <div class="img" id="render-intro">
      <img src="{% include relative-src.html src='/images/roboboat/challenges/render-intro.webp' %}" alt="" />
    </div>
  </div>
  <div></div>

  <section class="row" data-location="302, 0, -385" data-radius="137.56" data-beta="1.46" data-speed="0.2">
    <h3 id="static-judging-criteria">Static Judging Criteria</h3>
    <p>
      Besides a team's performance autonomously, we are judged on aspects of both our team and the
      boat.
    </p>
    <h4>Design Documentation</h4>
    <p>
      The team must prepare a website, <a
        href="{% include relative-src.html src='/technical_design_report/phoenix-returns.pdf' %}" target="_blank">a
        technical
        design report</a>, and
      <a href="https://www.youtube.com/watch?v=JUyOKSSXyII" target="_blank" rel="noopener">a video</a> for judges to
      score. These are evaluated based on how well they introduce the team and its structure
      as well as design considerations of the boat.
    </p>
    <h4>Presentation</h4>
    <p>
      The team must present to the judges live their decisions leading to the design of the boat.
    </p>
    <h3>Other Judging Criteria</h3>
    <p>
      Before the boat can participate in an autonomous challenge, several prerequisite activites
      must be completed.
    </p>
    <h4>Static Safety Inspection</h4>
    <p>
      As the boats are very high powered, a runaway boat could damage itself and hurt others.
      Therefore, competition staff ensure that the boat follows several safety rules:
    </p>
    <ul>
      <li>The boat stops when a physical red button is pressed on the boat</li>
      <li>
        The boat stops when a remote switch is flipped, or the remote switch loses power or
        connection
      </li>
      <li>
        The boat does not have any sharp edges so that people in the water can touch the boat safely
      </li>
    </ul>
    <p>
      UM::Autonomy is proud to have been one of the first three teams to pass the safety inspection at the 2023
      competition. We have continued this spirit throughout the 2023-2024 year: safety is considered highly
      in all situations, from battery and testing site training to ensuring the vessel is safe at all times.
    </p>
    <h4>Boat Thrust-to-Weight Ratio</h4>
    <p>
      The competition rewards fast and light craft. Therefore, a sliding scale is used where points
      are lost faster the heavier it gets. The boat is weighed and its thrust is measured every day
      it is entered in the water. <i>The Phoenix</i> weighs 40 pounds, the lightest weight
      class.
    </p>
  </section>
  <div class="can">
    <div class="img" id="render-overview">
      <img loading="lazy" decoding="async"
        src="{% include relative-src.html src='/images/roboboat/challenges/render-overview.webp' %}" alt="" />
    </div>
  </div>

  <section class="row" data-location="302, 0, -385" data-radius="30" data-beta="1.2" data-speed="0.2">
    <h3 id="autonomy-challenge">Autonomy Challenge</h3>
    <p>
      The main part of the challenge is the tasks that the vessel must perform autonomously. However, we must first
      qualify before we perform autonomous operation on the full course.
    </p>
    <h4>Qualification</h4>
    <p>Teams will be given opportunities to practice, display their capabilities, and earn their spot in the final
      round. They will have access to three duplicate courses, each containing the eight tasks. Throughout this time,
      teams can choose to test strategies, gather data, or qualify for tasks. A certain level of completion—"minimum
      performance criteria"—is required to complete a task. Once a team has qualified for enough tasks, they enter the
      Semi-Final rounds.</p>

    <h4>Semi-Finals</h4>
    <p>Teams must score some number of points in Semi-Finals rounds to progress to Finals.
    </p>

    <h4>Finals</h4>
    <p>
      Teams who have successfully qualified will have access to the finals courses. Importantly, each vessel must
      operate autonomously for the entire duration of the run; remote-controlled survey runs are not allowed. This means
      teams cannot manually control their vessels to gather data or assess the field before or during their time slot,
      emphasizing the critical importance of pre-run preparation and programming accuracy. They will be required to
      navigate through initial gates, attempt a series of tasks in their chosen sequence, and finally return to the home
      base to conclude the run. All teams making it to the final round will secure a higher final ranking over those who
      do not reach this stage of the competition.
    </p>

  </section>
  <div class="can">
    <div class="img" id="render-overview">
      <img loading="lazy" decoding="async"
        src="{% include relative-src.html src='/images/roboboat/challenges/render-overview.webp' %}" alt="" />
    </div>
  </div>
  <div>
    <h2>High Priority Challenges</h2>
  </div>

  <section class="row" data-location="307.7, 0, -375.6" data-radius="15" data-alpha="3.14" data-beta="0.938"
    data-speed="0.1">
    <h3 id="navigation-channel">Navigation Channel</h3>
    <img width="789" height="560"
      src="{% include relative-src.html src='/images/roboboat/challenges/navigationChannel.png' %}"
      alt="Navigation Channel Diagram" />
    <dl>
      <dt>Description</dt>
      <dd>
        This challenge is mandatory before attempting other tasks. The ASV needs to pass through two
        sets of gates (a pair of red and green buoys) and starts autonomous navigation at a minimum
        of 6 ft before the set of gates.
      </dd>

      <dt>Analysis</dt>
      <dd>
        As it is mandatory, this challenge is of high importance. In 2019, the boat could only
        successfully pass the navigation channel once out of four qualification runs as a result of
        a major electrical failure onboard. In 2023, it was completed with high success due to our extensive testing in
        water and in simulation.
        However, additional
        tuning was needed upon arrival to the competition site as the boat's computer vision system
        would occasionally fail to detect a buoy.
      </dd>
      <dt>Goal</dt>
      <dd>14 out of 15 successful runs</dd>
    </dl>
  </section>
  <div class="can">
    <div class="img skinny" id="render-panama">
      <img loading="lazy" decoding="async" class="skinny"
        src="{% include relative-src.html src='/images/roboboat/challenges/render-panama.webp' %}" alt="" />
    </div>
  </div>

  <hr />

  <section class="row" data-location="319.3, 0, -381.9" data-radius="25" data-beta="0.938" data-speed="0.1">
    <h3 id="follow-the-path">Follow the Path</h3>
    <img width="657" height="314"
      src="{% include relative-src.html src='/images/roboboat/challenges/magellans_route.png' %}"
      alt="Follow the Path Diagram" />
    <dl>
      <dt>Description</dt>
      <dd>
        The ASV passes through between multiple sets of gates (pairs of red and green buoys) The ASV
        also avoids intermittent yellow and black buoys of various
        sizes and counts them.
      </dd>

      <dt>Analysis</dt>
      <dd>
        The challenge requires minimal external hardware or software development and mainly just
        involves careful navigational operability and fine motor control. This challenge should be
        tested and fine-tuned early in the development process.

        <p>
          In 2023, we found that this challenge revealed some disadvantages of our indoors testing area. Specifically,
          our
          obstacle-avoidance system decided that the best way to avoid hitting buoys was to go outside
          of the red-green channel! While technically following our instructions, it didn't score many
          points. We have since revised our navigation algorithm to take this restriction into account.
        </p>
      </dd>
      <dt>Goal</dt>
      <dd>9 out of 10 successful runs</dd>
    </dl>
  </section>
  <div class="can">
    <div class="img" id="render-magellan">
      <img loading="lazy" decoding="async"
        src="{% include relative-src.html src='/images/roboboat/challenges/render-magellan.webp' %}" alt="" />
    </div>
  </div>
  <hr />

  <section class="row" data-location="311.08, 0, -387.039" data-radius="15" data-beta="0.938" data-speed="0.1">
    <h3 id="speed-challenge">Speed Challenge</h3>
    <img width="999" height="717" src="{% include relative-src.html src='/images/roboboat/challenges/speed.png' %}"
      alt="Speed Challenge Diagram" />
    <dl>
      <dt>Description</dt>
      <dd>
        The ASV enters the gate buoys, maneuvers around the yellow marker buoy, and exits thought the same
        gate buoys, as quickly as possible. The timer starts when the bow (front) crosses the gate
        buoys and stops when the stern (back) crosses the gate buoys.
      </dd>

      <dt>Analysis</dt>
      <dd>
        Based on the 2023 score sheet, teams that completed this challenge did so in 50, 75, and 100 seconds. This is
        significantly higher than the 2019 score
        sheet which revealed that a time between 25-45s is needed to remain competitive, with the fastest 2019 run
        coming in at 27 seconds. Nevertheless, we plan to beat the 2023 times and remain competitive with those that
        competed in 2019.

        <p>This year introduces an obstacle buoy. We do not expect a challenge with this because our navigation
          algorithm is already very familiar with avoiding buoys, and we do not expect to even need any code changes.
        </p>
      </dd>
      <dt>Goal</dt>
      <dd>
        9 out of 10 successful runs. We hope for a baseline of 45 seconds, and a goal of 35 seconds.
      </dd>
    </dl>
    <hr />
  </section>
  <div class="can">
    <div class="img" id="render-speed">
      <img loading="lazy" decoding="async"
        src="{% include relative-src.html src='/images/roboboat/challenges/render-speed.webp' %}" alt="" />
    </div>
  </div>

  <section class="row" data-location="313.619, 0, -398.136" data-radius="12" data-beta="1.32" data-alpha="1.38"
    data-speed="0">
    <h3 id="docking">Docking</h3>
    <img width="660" height="381" src="{% include relative-src.html src='/images/roboboat/challenges/docking.png' %}"
      alt="Docking Diagram" />
    <dl>
      <dt>Description</dt>
      <dd>
        Before the time slot starts, teams are assigned a color and must dock at the bay with the
        matching color. To dock, contact must simply be made with the dock.
      </dd>

      <dt>Analysis</dt>
      <dd>
        This challenge is a bit more involved in terms of computer and color/shape recognition but
        does not require external hardware development. We plan to train our computer vision model on color only, as it
        was all but guaranteed that each poster will be a unique color. We had success with this strategy in 2023, and
        plan to do it again.
      </dd>
      <dt>Goal</dt>
      <dd>9 out of 10 successful runs</dd>
    </dl>
  </section>
  <div class="can">
    <div class="img" id="render-docking">
      <img loading="lazy" decoding="async"
        src="{% include relative-src.html src='/images/roboboat/challenges/render-docking.webp' %}" alt="" />
    </div>
  </div>
  <div>
    <hr />

    <h2>Medium Priority Challenges</h2>
  </div>

  <div class="can">
    <div class="img" id="render-skeeball">
      <img loading="lazy" decoding="async"
        src="{% include relative-src.html src='/images/roboboat/challenges/render-skeeball.webp' %}" alt="" />
    </div>
  </div>

  <section class="row" data-location="312.9, 0, -401" data-radius="7" data-beta="1.38" data-alpha="2.59" data-speed="0">
    <h3 id="duck-wash">Duck Wash</h3>
    <img width="591" height="348" src="{% include relative-src.html src='/images/roboboat/challenges/duck_wash.png' %}"
      alt="Duck Wash Diagram" />
    <dl>
      <dt>Description</dt>
      <dd>
        The ASV detects the target duck poster and shoots water on it for 5 seconds continuously. The ASV may pump the
        water from
        the environment or store it on board.
      </dd>

      <dt>Analysis</dt>
      <dd>
        This task follows a similar task from last year, also involving water blasts. However, the task is simplified
        this year as the target area is far bigger. We think that it will not be difficult to achieve this task,
        although we may run into issues with spacing: we had hoped to simply push into the dock to keep us in place, but
        that may interfere with our water blast depending on its mounting position.
      </dd>
      <dt>Goal</dt>
      <dd>3 out of 5 successful runs</dd>
      </dd>
    </dl>
  </section>
  <div class="can">
    <div class="img" id="render-waterblast">
      <img loading="lazy" decoding="async"
        src="{% include relative-src.html src='/images/roboboat/challenges/render-waterblast.webp' %}" alt="" />
    </div>
  </div>

  <div>
    <hr />
    <h2>Lower Priority Challenges</h2>
  </div>

  <section class="row" data-location="303.6, 0, -388.7" data-radius="9" data-beta="0.938" data-alpha="3.14"
    data-speed="0.1">
    <h3 id="delivery-octagon">Delivery Octagon</h3>
    <img width="530" height="313"
      src="{% include relative-src.html src='/images/roboboat/challenges/delivery_octagon.png' %}"
      alt="Delivery Octagon Diagram" />
    <dl>
      <dt>Description</dt>
      <dd>
        The ASV detects the different posters around the center and delivers ducks and "beavers" (racquetballs) to
        various areas. A set number of racquetballs are provided as preload so that the ASV may complete this challenge
        without collecting additional objects.
      </dd>

      <dt>Analysis</dt>
      <dd>
        We expect this challenge to be somewhat difficult, although we still plan to complete it. We are designing a
        simple mechanism to deliver the preloaded balls to this challenge. We expect a challenge in detecting the
        specific areas to deliver balls to.
      </dd>
      <dt>Goal</dt>
      <dd>2/5 successful deliveries</dd>
    </dl>
  </section>
  <div class="can">
    <div class="img" id="render-ocean">
      <img loading="lazy" decoding="async"
        src="{% include relative-src.html src='/images/roboboat/challenges/render-ocean.webp' %}" alt="" />
    </div>
  </div>
  <div>
    <hr />
    <h2>Not Attempted Challenges</h2>
  </div>

  <section class="row" data-location="303.6, 0, -394" data-radius="9" data-beta="0.938" data-speed="0.1">
    <h3 id="collection-octagon">Collection Octagon</h3>
    <img width="529" height="231"
      src="{% include relative-src.html src='/images/roboboat/challenges/collection_octagon.png' %}"
      alt="Collection Octagon Diagram" />
    <dl>
      <dt>Description</dt>
      <dd>
        The ASV detects the triangular posters which designates the area to collect raquetballs and ducks from. The ASV
        may then use them as extra objects to deliver to the Delivery Octagon.
      </dd>

      <dt>Analysis</dt>
      <dd>
        UM::Autonomy decided that the mechanisms to grab and retrieve objects will be extremely difficult to produce. As
        such, we decided to put this challenge off. After the competition, we may work on this challenge more in case it
        appears again in 2025.
      </dd>
      <dt>Goal</dt>
      <dd>N/A</dd>
    </dl>
  </section>
  <div class="can">
    <div class="img" id="render-ocean">
      <img loading="lazy" decoding="async"
        src="{% include relative-src.html src='/images/roboboat/challenges/render-ocean.webp' %}" alt="" />
    </div>
  </div>

  <section>
    <em>
      UM::Autonomy extends a special thanks to Cole Biesemeyer from the Open Source Robotics
      Foundation for the 3D model of Nathan Benderson Park and Gdańsk University of Technology's
      SimLE: SeaSentinel team for creating 3D models of various competition elements.
    </em>
  </section>
</div>

<style>
  #allteams {
    background-image: url('{% include image-previews/allteams.url %}');
  }

  #render-intro {
    background-image: url('{% include image-previews/render-intro.url %}');
  }

  #render-overview {
    background-image: url('{% include image-previews/render-overview.url %}');
  }

  #render-panama {
    background-image: url('{% include image-previews/render-panama.url %}');
  }

  #render-magellan {
    background-image: url('{% include image-previews/render-magellan.url %}');
  }

  #render-speed {
    background-image: url('{% include image-previews/render-speed.url %}');
  }

  #render-docking {
    background-image: url('{% include image-previews/render-docking.url %}');
  }

  #render-skeeball {
    background-image: url('{% include image-previews/render-skeeball.url %}');
  }

  #render-waterblast {
    background-image: url('{% include image-previews/render-waterblast.url %}');
  }

  #render-ocean {
    background-image: url('{% include image-previews/render-ocean.url %}');
  }
</style>