	// original styles
	.container,
	.text-container {
		margin: 0 auto;
		position: relative;
		padding: 0 20px;
	}

	.margin {
		margin: 40px 0;
	}

	.text-container {
		max-width: 750px;
	}

	.container {
		max-width: 1280px;
	}

	.dark-logo {
		display: none;
	}

	section {
		background: #fff;
	}

	.content {
		background: #fff;
	}

	.info img {
		max-height: 650px;
	}

	.info {
		padding: 50px 0 0px 0;

		&:first-child {
			padding-top: 100px;
		}
		&:last-child {
			padding-bottom: 100px;
		}
	}
	$desktop: '(min-width: 992px)';
	@media #{$desktop} {
		.flex {
			display: flex;
			align-items: center;
			flex-direction: row;

			.text,
			.image {
				-webkit-flex: 1;
				flex: 1;
				font-size: 12pt;
				padding: 0px 100px;
			}
		}

		.content section:nth-child(even) .flex {
			flex-direction: row-reverse;
		}
	}
	body {
		font-family: 'Open Sans', 'Lato', sans-serif;
	}